body, html {
	margin: 0;
	padding: 0;
	width: max-content;
}

#main {
	display: flex;
	flex-wrap: nowrap;
	&.vertical {
		flex-direction: column;
	}
	&.horizontal {
		flex-direction: row;
	}
}

#main.fade {
	&.vertical {
		-webkit-mask-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
		mask-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
	}
	&.horizontal {
		-webkit-mask-image: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
		mask-image: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
	}
}

#keys {
    display: flex;
    flex-wrap: nowrap;
	
	.vertical & {
		flex-direction: row;
		padding-left: 20px;
		padding-right: 20px;
	}
	.horizontal & {
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


.key {
	display: flex;
    width: var(--key-size);
    height: var(--key-size);
	border-radius: var(--border-radius);
    text-align: center;
    line-height: var(--key-size);
    font-size: calc(var(--key-size) * 0.4);
    border: var(--border-width) solid var(--key-color);
	color: var(--key-color);
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	position: relative;
	&:last-child {
		margin: 0 !important;
	}
	.vertical & {
		margin-right: var(--spacing);
	}
	.horizontal & {
		margin-bottom: var(--spacing);
	}

	&.pressed {
		background-color: var(--key-color);
		color: var(--key-text-color-pressed);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		top: calc(0px - var(--border-width));
		left: calc(0px - var(--border-width));
		bottom: calc(0px - var(--border-width));
		right: calc(0px - var(--border-width));
		border: var(--border-radius) solid var(--bar-color);
		z-index: -1;
		opacity: 0;
	}
	&.pressed::before {
		opacity: 1;
	}
	.vertical &::before {
		clip-path: inset(0 0 50% 0);
	}
	.horizontal &::before {
		clip-path: inset(0 50% 0 0);
	}
}


